
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付成功</title>
</head>
<body>
    <div style="color:red;font-size:3.2em"> 
        支付成功！
    </div>
</body>
</html>
