@*通道管理页面*@


@{
    ViewBag.Title = "通道管理";
    Layout = null;
    // Layout = "~/Areas/Help/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Help/assets/css/My.css" rel="stylesheet" />

<div class="page-header">
    <h4 id="orderTitle" class="page-title">通道管理</h4>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card" style="width:105%;margin-left:-3%">
            <div class="card-header">

                <div style="display:inline">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-secondary" onclick="xtip_win();">
                                <span class="btn-label">
                                    <i class="fa fa-plus"></i>
                                </span>
                                创建通道
                            </button>

                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-secondary" onclick="xtip_agent();">
                                <span class="btn-label">
                                    <i class="fa fa-plus"></i>
                                </span>
                                创建中介
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="run-datatables" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>名称</th>
                                <th>代号</th>
                                <th>UID</th>
                                <th>微信</th>
                                <th>支付宝</th>
                                <th>云闪付</th>
                                <th>通道类型</th>
                                <th>操作</th>
                                <th>创建时间</th>
                                <th>聚合码</th>

                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Areas/Help/assets/js/mm/run.js"></script>
<!--核心样式-->
<link rel="stylesheet" href="~/Areas/Help/assets/css/modallayer.min.css">

<!--插件-->
<script src="~/Areas/Help/assets/js/modallayer-ie.min.js"></script>